main {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.home-container {
	padding: 3em 3em;
	display: flex;
	align-items: center;
	gap: 2em;
	text-align: center;
	border-radius: 3em;
}

.home-container {
	background: #0F2027; 
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
	cursor: pointer;
}

h1:hover {
	cursor: pointer;
	color: #ec1a23;
}

.pin {
	height: 150px; 
	aspect-ratio: 2/3;
	mask: 
	  conic-gradient(from -30deg at bottom,#0000,#000 1deg 59deg,#0000 60deg) bottom/100% 50% no-repeat, 
	  radial-gradient(circle at 50% calc(100% / 3),#0000 21.5%,#000 22% 44%,#0000 44.5%);
	background: #ec1a23;
}

@media only screen and (max-width: 500px) {
	.home-container {
		flex-direction: column;
	}
	
}
  