<section class="itinerary-container">
    <h2>Parisul pe zile</h2>
    <ul *ngFor="let day of itineraryDays; let i = index;">
        <li>
            <a href="#" (click)="toggleDay(i); $event.preventDefault()">{{ day }}</a>
        </li>
        <div *ngIf="expandedDayIndex === i" class="day-content">
            <h3>{{ itineraryContent[i].title }}</h3>
            <h5>{{ itineraryContent[i].description }}</h5>
            <a *ngIf="itineraryContent[i].link" 
            [href]="itineraryContent[i].link" 
            target="_blank" class="google-maps">Traseul pe Google Maps</a>
            <button (click)="toggleObjectives(i)">Arata-mi obiectivele de astazi</button>
            <section *ngIf="itineraryContent[i].showObjectives">
                <div *ngFor="let objective of itineraryContent[i].objectives">
                    <h4><span> {{ objective.id }}. </span> {{ objective.name }} </h4>
                    <img [src]="objective.picture" alt="{{ objective.name }}" />
                </div>
            </section>
        </div>
        
    </ul>
</section>
