<section class="itinerary-container">
    <h2>Parisul pe zile</h2>
    <aside>
        <a [href]="airbnbRoute" target="_blank" class="google-maps">Du-ma la Airbnb!</a>
    </aside>
    <ul *ngFor="let day of itineraryDays; let i = index;">
        
        <li>
            <a href="#" (click)="toggleDay(i); $event.preventDefault()">{{ day }}</a>
        </li>
        <div *ngIf="expandedDayIndex === i" class="day-content">
            <h3>{{ itineraryContent[i].title }}</h3>
            <h5>{{ itineraryContent[i].description }}</h5>
            <div class="buttons-container">
                <a *ngIf="itineraryContent[i].link" 
                [href]="itineraryContent[i].link" 
                target="_blank" 
                class="google-maps">Traseul pe MAPS</a>
                <button (click)="toggleObjectives(i)">Obiective</button>
            </div>
            <section *ngIf="itineraryContent[i].showObjectives">
                <div *ngFor="let objective of itineraryContent[i].objectives">
                    <h4>
                        <input type="checkbox" [(ngModel)]="objective.checked" class="objective-checkbox">
                        <span [ngClass]="{'checked-text': objective.checked}">
                            {{ objective.id }}. {{ objective.name }}
                        </span>
                    </h4>
                    <img [src]="objective.picture" alt="{{ objective.name }}" />
                </div>
            </section>
        </div>
    </ul>
</section>

